<li>
  <strong>About.</strong>
  Where mountains meet hospitality: welcome to our homestay with breathtaking views.
  Located in the charming city of Darjeeling, our homestay is situated in an area
  known for its scenic views of Mount <code >Kanchenjunga</code>, the serene River <code 
  >Rangeet</code
  > and lush green <code >tea estates</code>. Surrounded by tea estates on all
  sides, our location is perfect for those seeking tranquility and natural
  beauty. Our homestay is a perfect escape from the hustle and bustle of city
  life.
</li>
