---
import About from "./About.astro";
import Properties from "./Properties.astro";
import Gallery from "./Gallery.astro";
import Amenities from "./Amenities.astro";
import Reviews from "./Reviews.astro";
import Contact from "./Contact.astro";
---

<div>
  <p class="text-lg">
    Let's take a closer look at the specifics of the property:
  </p>
  <ul class="mt-5">
    <About />
    <Properties />
    <Gallery />
    <Amenities />
    <Reviews />
    <Contact />
  </ul>
</div>
