---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  newTab?: boolean;
}
const { href, newTab = false, ...props } = Astro.props;
---

<Fragment>
  {
    newTab ? (
      <a href={href} target="_blank" {...props}>
        <slot />
      </a>
    ) : (
      <a href={href} {...props}>
        <slot />
      </a>
    )
  }
</Fragment>
